{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block content %}
<h1>Search</h1>
<noscript>Search requires JavaScript, sorry for the inconvenience.</noscript>
<div id="tipue_search_content">Use the search box in the navigation bar to search.</div>
{% endblock %}

{% block extra_js %}
<script src="/assets/js/tipuesearch_set.js"></script>
<script src="/assets/js/tipuesearch.js"></script>
<script src="/assets/js/tipuesearch_content.js"></script>
<script>
$(document).ready(function() {
    $('#tipue_search_input').tipuesearch({
        'showUrl': false
    });
});
</script>
{% endblock %}
