# Add the bbcode compiler to your COMPILERS dict.
COMPILERS["bbcode"] = ('.bb',)

# Add bbcode files to your POSTS, PAGES
POSTS = POSTS + (("posts/*.bb", "posts", "post.tmpl"),)
PAGES = PAGES + (("stories/*.bb", "posts", "post.tmpl"),)
