
# Add kramdown to your compilers dict:
COMPILERS["kramdown"] = ('.kd',)

# Add kramdown files to your POSTS, PAGES
POSTS = POSTS + (("posts/*.kd", "posts", "post.tmpl"),)
PAGES = PAGES + (("stories/*.kd", "posts", "post.tmpl"),)
