{% block content %}
<div class="panel-group" id="accordion_{{ hex_uuid4 }}" role="tablist" aria-multiselectable="true">
  {% for i in range(box_titles|length) %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_{{ i }}_{{ hex_uuid4 }}">
      <h1 class="panel-title">
        {% if i == 0 %}
          <a role="button" data-toggle="collapse" data-parent="#accordion_{{ hex_uuid4 }}" href="#collapse_{{ i }}_{{ hex_uuid4 }}" aria-expanded="true" aria-controls="collapse_{{ i }}_{{ hex_uuid4 }}">
        {% else %}
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_{{ hex_uuid4 }}" href="#collapse_{{ i }}_{{ hex_uuid4 }}" aria-expanded="false" aria-controls="collapse_{{ i }}_{{ hex_uuid4 }}">
        {% endif %}
        {{ box_titles[i] }}
        </a>
      </h1>
    </div>
    {% if i == 0 %}
      <div id="collapse_{{ i }}_{{ hex_uuid4 }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_{{ i }}_{{ hex_uuid4 }}">
    {% else %}
      <div id="collapse_{{ i }}_{{ hex_uuid4 }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ i }}_{{ hex_uuid4 }}">
    {% endif %}
      <div class="panel-body">
        {{ box_contents[i] }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
