{#  -*- coding: utf-8 -*- #}
{% extends 'story.tmpl' %}
{% import 'project_helper.tmpl' as project with context %}
{% block content %}
    <header class="page-header">
        <h1>{{ title }}</h1>
    </header>

    <div class="float-md-right"><a href="{{ project_index[lang] }}" class="btn btn-secondary btn-header-line">← Projects</a></div>
    <p class="lead">{{ post.meta('description') }}</p>

    {% if post.meta('logo') %}
    <div class="media">
      <div class="media-body">
    {% endif %}
    <div class="card project-card border-primary">
    <div class="card-header bg-primary"><h3><i class="fa fa-info-circle"></i><span class="project-header-details">Details</span></h3></div>

    <table class="table table-hover">
    <tr>
    <td><b>Status</b></td>
    <td>{{ project.devstatus(post.meta('devstatus')) }}</td>
    </tr>

    {% if post.meta('language') %}
    <tr>
    <th>Language</th>
    <td>{{ post.meta('language') }}</td>
    </tr>
    {% endif %}

    {% if post.meta('license') %}
    <tr>
    <th>License</th>
    <td>{{ post.meta('license') }}</td>
    </tr>
    {% endif %}

    {% if post.meta('role') %}
    <tr>
    <th>Role</th>
    <td>{{ post.meta('role') }}</td>
    </tr>
    {% endif %}

    </table>
    {% if post.meta('link') or post.meta('download') or post.meta('github') or post.meta('bitbucket') or post.meta('bugtracker') %}
    <div class="card-footer">
    {% if post.meta('link') %}
    <a href="{{ post.meta('link') }}" class="btn btn-lg btn-primary"><i class="fa fa-link"></i> Website</a>
    {% endif %}
    {% if post.meta('download') and not post.meta('link') %}
    <a href="{{ post.meta('download') }}" class="btn btn-lg btn-primary"><i class="fa fa-download"></i> Download</a>
    {% elif post.meta('download') %}
    <a href="{{ post.meta('download') }}" class="btn btn-lg btn-success"><i class="fa fa-download"></i> Download</a>
    {% endif %}
    {% if post.meta('github') %}
    <a href="{{ post.meta('github') }}" class="btn btn-lg btn-info"><i class="fab fa-github"></i> GitHub</a>
    {% endif %}
    {% if post.meta('bitbucket') %}
    <a href="{{ post.meta('bitbucket') }}" class="btn btn-lg btn-info"><i class="fab fa-bitbucket"></i> BitBucket</a>
    {% endif %}
    {% if post.meta('gallery') %}
    <a href="{{ post.meta('gallery') }}" class="btn btn-lg btn-success"><i class="far fa-image"></i> Gallery</a>
    {% endif %}
    {% if post.meta('bugtracker') %}
    <a href="{{ post.meta('bugtracker') }}" class="btn btn-lg btn-danger"><i class="fa fa-bug"></i> Bug Tracker</a>
    {% endif %}
    </div>
    {% endif %}
    </div>

          {{ post.text(lang) }}
    {% if post.meta('logo') %}
      </div>
      <div class="float-md-right">
        <img class="media-object" src="{{ post.meta('logo') }}" alt="{{ title }}">
      </div>
    </div>
    {% endif %}
{% endblock %}
