# NOTE: Needs additional configuration in init.el file.

# Add the orgmode compiler to your COMPILERS dict.
COMPILERS["orgmode"] = ('.org',)

# Add org files to your POSTS, PAGES
POSTS = (("posts/*.org", "posts", "post.tmpl"),) + POSTS
PAGES = (("stories/*.org", "posts", "post.tmpl"),) + PAGES



