# Add the markmin compiler to your COMPILERS dict.
COMPILERS["markmin"] = ('.mm',)

# Add markmin files to your POSTS, PAGES
POSTS = POSTS + (("posts/*.mm", "posts", "post.tmpl"),)
PAGES = PAGES + (("pages/*.mm", "pages", "page.tmpl"),)
