## -*- coding: utf-8 -*-

<div style="${style or 'text-align: center; margin-top: 25px; margin-bottom: 25px;'}">
  <a class="btn btn-lg btn-primary" target="${target or '_blank'}" href="${href}">
    ${'\n'.join(content)}
  </a>
</div>
