# Add the textile compiler to your COMPILERS dict. Make sure it does not
# conflict with reST.
COMPILERS = {
    "textile": [".txt"]
}

# Add textile files to your POSTS, PAGES
POSTS = POSTS + (("posts/*.txt", "posts", "post.tmpl"),)
PAGES = PAGES + (("pages/*.txt", "pages", "page.tmpl"),)
