COMMENT_SYSTEM = "MastodonComments"
COMMENT_SYSTEM_ID = "<YOUR-SITE_NAME>"

GLOBAL_CONTEXT = {
    'mastodon_config': {
        'host': 'nerdculture.de',
        'account_id': '109270094542366763',
        'account': 'fluchtkapsel'
    }
}
