COMMENT_SYSTEM = "mastodoncomments"

GLOBAL_CONTEXT = {
    'mastodon_config': {
        'host': 'nerdculture.de',
        'account_id': '109270094542366763',
        'account': 'fluchtkapsel'
    }
}
