## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="content">
  <div class="title">
    <h1 class="entry-title">{{ messages('Not Found', lang) }}</h1>
  </div>
  <div class="main entry-content">
    {{ messages('The page you are trying to access does not exist. Please use your browser\'s "back" button to return to the previous page.', lang) }}
  </div>
</%block>
