# Add the mediawiki compiler to your COMPILERS dict.
# Make sure this doesn't conflict with the 'wiki' plugin
COMPILERS["mediawiki"] = ('.wiki',)

# Add mediawiki files to your POSTS, PAGES
POSTS = POSTS + (("posts/*.wiki", "posts", "post.tmpl"),)
PAGES = PAGES + (("stories/*.wiki", "posts", "post.tmpl"),)
