## -*- coding: utf-8 -*-
<%inherit file="post.tmpl"/>
<%block name="content">
    <h1>${title}</h1>
    ${series.text()}
    <ul class="postlist">
    % for post in posts:
        <li>
            <a href="${post.permalink()}" class="listtitle">${post.title()}</a>
            <time class="listdate" datetime="${post.date.isoformat()}" title="${messages("Publication date")}">
            ${post.formatted_date(date_format)}</time>
        </li>
    % endfor
    </ul>
</%block>
