{% block content %}
<div id="accordion_{{ hex_uuid4 }}" class="accordion">
  {% for i in range(box_titles|length) %}
    <div class="card">
      <div class="card-header" id="heading{{ i }}_{{ hex_uuid4 }}">
        <h1 class="mb-0">
          {% if i == 0 %}
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ i }}_{{ hex_uuid4 }}" aria-expanded="true" aria-controls="collapse{{ i }}_{{ hex_uuid4 }}">
          {% else %}
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ i }}_{{ hex_uuid4 }}" aria-expanded="true" aria-controls="collapse{{ i }}_{{ hex_uuid4 }}">
          {% endif %}
          {{ box_titles[i] }}
          </button>
        </h1>
      </div>
      {% if i == 0 %}
        <div id="collapse{{ i }}_{{ hex_uuid4 }}" class="collapse show" aria-labelledby="heading{{ i }}_{{ hex_uuid4 }}" data-parent="#accordion_{{ hex_uuid4 }}">
      {% else %}
        <div id="collapse{{ i }}_{{ hex_uuid4 }}" class="collapse" aria-labelledby="heading{{ i }}_{{ hex_uuid4 }}" data-parent="#accordion_{{ hex_uuid4 }}">
      {% endif %}
        <div class="card-body">
          {{ box_contents[i] }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
