# Add the marko compiler to your COMPILERS dict.
COMPILERS["marko"] = ('.md',)

# Add markdown files to your POSTS, PAGES
POSTS = POSTS + (("posts/*.md", "posts", "post.tmpl"),)
PAGES = PAGES + (("pages/*.md", "pages", "page.tmpl"),)
